*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-student 
{
height: 100%;
width: 100%;
background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url("./student.jpg");
background-position: center;
background-size: cover;
position: absolute;
}
.container-teacher
{
height: 100%;
width: 100%;
background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url("./car.jpg");
background-position: center;
background-size: cover;
position: absolute;
}
.student-form
{
    width: 380px;
    height: 480px;
    background: white;
    margin: 6%;
    position: relative;
    padding: 5px;
    overflow: hidden;
    position: center;
    justify-content: center;
    border-radius: 15px;
}
.button-box
{
    /*border: 2px solid;*/
    width: 220px;
    margin: 35px auto;
    box-shadow: 0 0 20px 3px #9AFBFA;
    border-radius: 35px;
}
.toggle-btn
{
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
/*for id we use # */
#btn
{
    top:20;
    left: 20;
    position: absolute;
    width: 110px;
    height: 35px;
    background: linear-gradient(to right, #9AFBFA,#D0071F);
    border-radius: 30px;
    transition: 1s;
}
.social-media
{
    margin: 30px auto;
    text-align: center;
}
.social-media img
{
   width: 30px;
   margin: 0 10px;
   box-shadow: 0 0 20px 0 #f7f7f7;
   cursor: pointer;  
   border-radius: 50%;
}
.login-form
{
    top: 200px;
    position: absolute;
    border: 0px solid;
    width: 280px;
    transition: 1s;
}

.form-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #999;
    outline: none;
    background: transparent;
}
.submit
{
    width: 65%;
    padding: 10px 35px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #9AFBFA,#D0071F);
    outline: none;
    border: 0px;
    border-radius: 25px;
}
.checkbox
{
    margin: 30px 5px;
    
}
span{
    color: #777;
    font: 12px;
    bottom: 35px;
    position: absolute;
}
#login
{
    left: 50px;

}

#register
{
    left:450px;
}

/* ////////////////////////////////////////Screen Split///////////////////////////////////// */
.split {
    height: 100%;
    width: 33.33%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    /*background-color: #171;*/
    background: linear-gradient(to right, #9AFBFA,#D0071F);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background: linear-gradient(to right, #D0071F,#9AFBFA);
  }
  .split-centered
  {
      background-color: #9AFBFA;
  }
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }